<h1>All Reservations</h1>
<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Total Price</th>
      <th>Vehicle Category</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td><%= number_to_currency(reservation.total_price) %></td>
        <td><%= reservation.category_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Add reservation", new_reservation_path %></p>
